# # Backend
# MISTRAL_API_KEY=your_mistral_api_key

# PORT=4000
# ALLOWED_ORIGIN=http://localhost:5173
# MONGODB_URI=mongodb://localhost:27017
# MONGODB_DB=mistral_mapper
# MONGODB_COLLECTION=mappings

# # PostgreSQL authentication
# DATABASE_URL=postgresql://accountbridge:change_me@localhost:5432/accountbridge
# DATABASE_POOL_SIZE=10
# SESSION_SECRET=replace_with_at_least_32_random_bytes
# APP_URL=http://localhost:5173

# # Password reset email
# RESEND_API_KEY=re_your_resend_api_key
# RESET_EMAIL_FROM=AccountBridge <onboarding@resend.dev>

# # Optional bearer token check for POST /api/mappings
# MONGO_API_KEY=

# Backend
MISTRAL_API_KEY=WuChWuF1mAE0pmj4Jw5sPsV1saIMyLAK
PORT=4000
ALLOWED_ORIGIN=https://mistral-mapper.vercel.app/
MONGODB_URI=mongodb://ajithantony2021ca_db_user:Humber%401234567@ac-bdvugoy-shard-00-00.1dcl6on.mongodb.net:27017,ac-bdvugoy-shard-00-01.1dcl6on.mongodb.net:27017,ac-bdvugoy-shard-00-02.1dcl6on.mongodb.net:27017/MistralMapper?authSource=admin&replicaSet=atlas-bm6l5d-shard-0&retryWrites=true&w=majority&tlsAllowInvalidCertificates=true&appName=MistralMapper
MONGODB_DB=MistralMapper
MONGODB_COLLECTION=Mappings

# Optional bearer token check for POST /api/mappings
MONGO_API_KEY=

DATABASE_URL=postgresql://postgres.hcqscuxmceztptubsphi:accountbridge02humber@aws-1-ca-central-1.pooler.supabase.com:5432/postgres
SESSION_SECRET=d2e2f07a387c8834d5612a8cd8f83ee77f06f002f48bd506cd51c0bab8cc709e9cde98eaf85fb9b19be3c9ac39e4fead

RESEND_API_KEY=re_L3497VCn_MdPhYGJAhARxecZydXs6JHAM
RESET_EMAIL_FROM=AccountBridge <onboarding@resend.dev>
APP_URL=https://mistral-mapper.vercel.app/